/*

タブレット

*/

.login {
  &__form {
    & > form {
      padding: 50px;
      & > div {
        & > input {
          width: 300px;
          font-size: 1.2em;
          height: 2em;
          border: 1px solid #eeeeee;
          border-radius: 2px;
          margin-bottom: 20px;
        }
      }

      & > .main-title {
        font-size: 36px;
        margin: 0;
        font-weight: bold;
        margin-bottom: 20px;
      }
    }
  }
  &__error {
    width: 300px;
    font-size: 20px;
    padding: 10px 0;
  }
}

#login-button {
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 20px;
  font-size: 1.2em;
}

.header {
  &__btn {
    display: flex;
    & > button {
      font-size: 14px;
    }
  }
  &__menu-btn {
    display: none;
  }
  &__sub-title {
    font-size: 28px;
  }
}

.cards {
  flex-direction: row;
  flex-wrap: wrap;
}

.post-modal {
  & > .post-form {
    height: 500px;
    width: 400px;
    padding: 30px 50px 30px 50px;
    & > h2 {
      margin-bottom: 10px;
      font-size: 24px;
    }
    & > #book-title {
      text-align: left;
      margin-top: 10px;
    }
    & > #add-book-title {
      margin: 0 0 30px;
      height: 3em;
    }
    & > .add-book-description {
      height: 100px;
    }
    & > #upload-image-group {
      margin-bottom: 10px;
      & > label {
        margin: 10px 0;
      }
      & > .filename {
        margin-bottom: 10px;
      }
    }
  }
}

.cardDescription {
  &__modal {
    width: 800px;
    padding: 30px;
    position: relative;
  }
  &__modalContent {
    flex-direction: row;
    position:  absolute;
    bottom: 0;
    left: 0;
    padding: 20px 30px;
    height: 450px;
    width: 800px;
  }
  &__imageWrapper {
    height: 450px;
    width: 250px;
    margin: 0;
  }
  &__text {
    width: 550px;
    padding: 30px;
  }
  &__title {
    font-size: 24px;
    font-weight: bold;
  }
}